html{
    font-size: 20px;
}

body{
    background-color: #fee1dd;
    padding: 2%;
    margin: 0;
}


/* titlu */
header>h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    font-weight: 900;
    text-align: center;    
}

/* meniu */
nav{
    position: sticky;
    top:0;
    background-color: #fee1dd;
    border-radius: 8px;
}
nav>ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 50px;
}

nav li
{
    line-height: 50px;
    flex:1;
    font-size: 15px;
    position: relative;
    z-index:1;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
nav a{
    text-decoration: none;
    color:black;
}

.animation{
    position: absolute;
    height: 100%;
    top:0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

nav .start-despre, li:nth-child(1):hover~.animation {
    width: 25%;
    left: 0;
    background-color: #f5bcba;
}
nav .start-portofoliu, li:nth-child(2):hover~.animation {
    width: 25%;
    left: 25%;
    background-color: #e3aadd;
}
nav .start-blog, li:nth-child(3):hover~.animation {
    width: 25%;
    left: 50%;
    background-color: #c8a8e9;    
}
nav .start-contact, li:nth-child(4):hover~.animation {
    width: 25%;
    left: 75%;
    background-color: #c3c7f3;
    
}

/* submeniu */
nav>ul.meniu>li>ul.submeniu
{
    visibility: hidden;
    position: relative;
    width: 100%;
}
nav>ul.meniu>li:hover>ul.submeniu
{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav>ul.meniu>li:hover>ul.submeniu>li
{
    position: relative;
    visibility: visible;
    text-align: center;
    background-color: #c8a8e9;
    line-height: 50px;
    flex: 1;
    font-size: 15px;
    cursor:pointer;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

nav>ul.meniu>li:hover>ul.submeniu>li:hover
{
    background-color: #bd7aff;
}



/* 
/* introducere 
#introducere{
    display: flex;
    margin: 30px;
    background-image: url("../Imagini/Yarn.png");
    background-size: cover;
}



#left-half, #right-half{
    flex:1;
}
#introducere #left-half{
    display: flex;
    justify-content: center;
    align-items: center;
}
#introducere #left-half img{
    width: 80%;
    border-radius: 50px;
    align-items: center;
}
#introducere #right-half{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@font-face {
    font-family: Marhiel;
    src: url("../Marhiel.otf");
}

#introducere #right-half p{
    font-family: Marhiel;
    font-size: 2.5vw;
    width: 80%;
    margin: 0 auto;
}

@font-face {
    font-family: MittaSweety;
    src: url("../MittaSweety.ttf");
}

#introducere #right-half h2{
    font-family: MittaSweety;
    font-size: 5vw;
} */

@font-face {
    font-family: MittaSweety;
    src: url("../MittaSweety.ttf");
}
@font-face {
    font-family: Marhiel;
    src: url("../Marhiel.otf");
}
.grid-container{
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(2, 1fr);
    background-image: url("../Imagini/Yarn.png");
    background-size: cover;
}
.grid-item{
    text-align: center;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grid-item h2{
    font-family: MittaSweety;
    font-size: 5vw;
}
.grid-item p{
    font-family: Marhiel;
    font-size: 2.5vw;
    width: 80%;
    margin: 0 auto;
}

.grid-item img{
    max-width: 80%;
    border-radius: 50px;
}
